@font-face {
    font-family: font1;
    src: url(./Olivera_Demo.ttf);
    font-weight: 400;

}

@font-face {
    font-family: font2;
    src: url(./orbitron.otf);
}

@font-face {
    font-family: face3;
    src: url(./Sophie.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#header {
    width: 100%;
    height: 160px;
    background: linear-gradient(to right bottom, rgb(113, 113, 255), rgb(255, 96, 96));
    padding: 10px;

}

#h1 {

    font-size: 20px;
    font-family: font2;
    text-align: center;
    text-transform: uppercase;
}

#p1{
    margin-top: 5px;
    font-size: 15px;
    font-family:face3;
    font-weight: 200;
    text-decoration: wavy;
    text-align: justify;
}